body{
    font-family: sans-serif;
}

#page{
  position: absolute;
  top: 90px;
}

#logo{
  position: relative;
  z-index: 1;
}

#navBar{
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 0;
}

#navBarContainer{
  width: 100%;
  background-color: #249e16;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90px;
}

#meatballMenu{
  position: absolute;
  top: 90px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #249e16;
  text-align: right;
}


.navLink, .navSpacer{
  color: white;
  font-size:x-large;
  text-decoration: none;
}

.navLink:hover{
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-decoration-skip-ink: none;
}

th{
    background-color: #249e16;
    border: 1px solid black;
}

table, th, td{
    text-align: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

table{
  border: 1px solid black;
}

tr:not(.header):hover {
  background-color: lightblue;
}

tr:nth-child(even){
  background-color: lightgray;
}
