#pageContainer{
  display: flex;
  justify-content: center;
}

#logo{
  position:relative;
  z-index: 1;
}

form{
  display: grid;
  row-gap: 5px;
}

#navBarContainer{
  height: 90px;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  background: darkgreen;
}