<!doctype html>
<head>
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='common.css')}}">-->
	<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script>
		function onMeatballClick(){
			$("#meatballMenu").toggle();
		}
	</script>
	{% block additionalHeadMaterial %}{% endblock %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<nav id="nav" class="navbar navbar-expand-lg bg-dark navbar-dark">
		<div class="container-fluid">
			<img src="{{ url_for('static', filename='logo.png') }}" class="navbar-brand" id="logo">
			{% if g.user != None %}
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a class="nav-item nav-link m-2" href="{{ url_for('overview.getOverview') }}">Overview Page</a>
					<a class="nav-item nav-link m-2" href="#">Barcodes and New Stock</a>
					<a class="nav-item nav-link m-2" href="#">Stock Management</a>
					<a class="nav-item nav-link m-2" href="#">Add New Job</a>
				</div>
				<div class="navbar-nav dropdown ms-auto">
					<span class="nav-link dropdown-toggle" data-bs-toggle="dropdown">User Admin</span>
						<div class="dropdown-menu dropdown-menu-end">
							{% if g.user['isAdmin'] %}
							<a class="dropdown-item" href="{{ url_for('users.manageUsers') }}">Users</a>
							{% endif %}
							<a class="dropdown-item" href="{{ url_for('users.changePassword') }}">Change Password</a>
							<a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
						</div>
				</div>

			</div>
			{% endif %}
		</div>
	</nav>
	<section id="pageContaienr" class="container-fluid">
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</section>
</body>
