{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block additionalHeadMaterial %}
	<link rel="stylesheet" href="{{ url_for('static', filename='changePassword.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type=text/javascript src="{{ url_for('scripts', filename='changePassword.js') }}"></script>
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='logo.png') }}" id="logo">
<div id="controlsContainer">
    <div>
        <h2>Change Password</h2>
        <div id="changePasswordControls">
            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" required>
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" required>
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" id="confirmNewPassword" required>
            <input type="button" id="submitBtn" value="Change Password" onclick="changePassword()">
            <span id="feedback"></span>
        </div>
    </div>
</div>
{% endblock %}
